@import "./style.scss";
@import "./reset.scss";
@import "./responsive.scss";
@import "./mixin.scss";

body {
    position: relative;
}

.no_scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.alerts>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 2;

    .alertbx {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.8);
        text-align: center;
        z-index: 2;
        padding: 30px 0;
        width: 80%;
        max-width: 400px;

    
        @include responsive(semi-cat) {
            width: 40%;
            min-width: 400px;
    
        }
    
        @include responsive(pc-cat) {
            width: 480px;
        }

        h4 {
            font-size: calc(28px + 0.5vw);
            color: $accent;

            @include responsive(semi-cat) {
                font-size: calc(28px + 0.5vw);
        
            }
        
            @include responsive(pc-cat) {
                font-size: 48px;
            }

        }

        img {
            width: calc(50px + 5vw);

            @include responsive(semi-cat) {
                width: calc(60px + 5vw);
            }

            @include responsive(pc-cat) {
                width: 120px;
            }
        }

        p.notice {
            font-family: $highlight;
            font-size: calc(18px + 0.5vw);
            line-height: 1.5em;
            margin-top: $small_margin_m;

            @include responsive(semi-cat) {
                margin-top: $small_margin_s;            
            }

            @include responsive(pc-cat) {
                font-size: 24px;
                margin-top: $small_margin_p;
            }
        }

        p.store {
            font-family: $highlight;
            font-size: calc(24px + 0.5vw);
            line-height: 1.5em;
            margin-top: $small_margin_m;

            @include responsive(semi-cat) {
                margin-top: $small_margin_s;            
            }

            @include responsive(pc-cat) {
                font-size: 30px;
                margin-top: $small_margin_p;
            }
        }

        .scorebox {
            display: flex;
            margin: 0 auto;
            justify-content: space-between;
            width: 80%;
            max-width: 400px;
            margin-top: $mid_margin_m;

            @include responsive(semi-cat) {
                width: 80%;
            } 

            @include responsive(pc-cat) {
                width: 80%;

            }

            &>div {
                h5 {
                    color: $accent;
                    font-size: calc(21px + 0.5vw);

                    @include responsive(semi-cat) {
                        font-size: calc(21px + 0.5vw);
                    }

                    @include responsive(pc-cat) {
                        font-size: 28px;
                    }
                }

                p {
                    font-size: calc(18px + 0.5vw);

                    @include responsive(semi-cat) {
                        font-size: calc(18px + 0.5vw);
                    }

                    @include responsive(pc-cat) {
                        font-size: 21px;
                        
                    }
                }
                
            }
            
        }

        .cls {

            h6 {
                cursor: pointer;
                font-size: calc(28px + 0.5vw);
                margin-top: $small_margin_m;
    
                @include responsive(semi-cat) {
                    font-size: calc(32px + 0.5vw);
                    margin-top: $small_margin_s;
    
                }
    
                @include responsive(pc-cat) {
                    font-size: 36px;
                    margin-top: $small_margin_p;
                }
    
                &:hover {
                    transform: rotateZ(5deg);
                }
            }
    
        }





    }


}

.confirms>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    z-index: 2;

    .contbx {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #000000, $alpha: 0.8);
        text-align: center;
        z-index: 2;
        padding: 30px 0;
        width: 80%;
        max-width: 400px;

    
        @include responsive(semi-cat) {
            width: 40%;
            min-width: 400px;
    
        }
    
        @include responsive(pc-cat) {
            width: 480px;
        }

        h4 {
            font-size: calc(28px + 0.5vw);
            color: $accent;

            @include responsive(semi-cat) {
                font-size: calc(28px + 0.5vw);
        
            }
        
            @include responsive(pc-cat) {
                font-size: 48px;
            }

        }

        img {
            width: calc(50px + 5vw);

            @include responsive(semi-cat) {
                width: calc(60px + 5vw);
            }

            @include responsive(pc-cat) {
                width: 120px;
            }
        }

        p.notice1 {
            font-family: $highlight;
            font-size: calc(18px + 0.5vw);
            line-height: 1.5em;
            margin-top: $small_margin_m;

            @include responsive(semi-cat) {
                margin-top: $small_margin_s;            
            }

            @include responsive(pc-cat) {
                font-size: 24px;
                margin-top: $small_margin_p;
            }
        }

        p.notice2 {
            font-family: $common_font;
            font-size: calc(14px + 0.5vw);
            line-height: 1.5em;
            color: $accent;
            margin-top: $tiny_margin_m;

            @include responsive(semi-cat) {
                margin-top: $tiny_margin_s;            
            }

            @include responsive(pc-cat) {
                font-size: 18px;
                margin-top: $tiny_margin_p;
            }
        }

        .con_btn {

            display: flex;
            justify-content: space-between;
            width: 60%;
            margin: 0 auto;

            @include responsive(semi-cat) {
                max-width: 400px;
            }

            @include responsive(pc-cat) {
                max-width: none;
                width: 60%;
            }


            h6 {
                cursor: pointer;
                font-size: calc(28px + 0.5vw);
                margin-top: $small_margin_m;
    
                @include responsive(semi-cat) {
                    font-size: calc(32px + 0.5vw);
                    margin-top: $small_margin_s;
    
                }
    
                @include responsive(pc-cat) {
                    font-size: 36px;
                    margin-top: $small_margin_p;
                }
    
                &:hover {
                    transform: rotateZ(5deg);
                }
            }
    
        }





    }


}


//first_section

.first_screen {

    h1 {
        text-align: center;
        font-size: calc(28px + 3vw);

        @include responsive(semi-cat) {
            font-size: calc(40px + 3vw);
        }

        @include responsive(pc-cat) {
            font-size: 110px;
        }
    }

    h3 {
        position: absolute;
        top: 0;
        right: 0;
    }

    .part1 {
        margin-top: 40px;

        @include responsive(semi-cat) {
            margin-top: 50px;
        }

        @include responsive(pc-cat) {
            margin-top: 60px;
        }

        .first_flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
    
            @include responsive(semi-cat) {
                
            }
    
            @include responsive(pc-cat) {
                flex-direction: row;
            }
    
            .first_title {
                width: 100%;
    
                @include responsive(semi-cat) {
                
                }
    
                @include responsive(pc-cat) {
                    width: 580px;
                }
    
                p {
                    font-family: $highlight;
                    color: white;
                    text-align: center;
                    font-size: calc(24px + 1vw);
    
                    @include responsive(semi-cat) {
                        font-size: calc(32px + 1vw);
    
                    }
        
                    @include responsive(pc-cat) {
                        text-align: justify;
                        font-size: 60px;
                    }
                }
            }
    
            #cat {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 20px;
    
                @include responsive(semi-cat) {
                    margin-top: 30px;
                }
    
                @include responsive(pc-cat) {
                    width: 580px;
                    align-items: center;
                    margin-top: 0;
                }
    
                button {
                    cursor: pointer;
                    color: white;
                    width: 23%;
                    // height: 100%;
                    border-radius: 10px;
                    background-color: transparent;
                    border: 4px solid white;
                    font-family: $common_font;
                    font-size: calc(40px + 2vw);
                    line-height: calc(40px + 2vw);
                    margin-bottom: 10px;
                    padding: calc(15px + 1vw) 0;
    
                    @include responsive(semi-cat) {
                        width: 11%;
                        font-size: calc(40px + 2vw);
                        line-height: calc(20px + 2vw);
                    }
        
                    @include responsive(pc-cat) {
                        width: 120px;
                        height: 120px;
                        border: 5px solid white;
                        font-size: 95px;
                        line-height: 95px;
                        padding: 0;
                    }
    
                    &:hover {
                        color: #333;
                        background-color: rgba($color: #ffffff, $alpha: 0.75);
                        border-color: rgba($color: #ffffff, $alpha: 0.5);
                        transition: all 0.5s;
                    }
                }
            }
            
        }
    
        .first_btn {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 85%;
            margin-top: 40px;
            max-width: 400px;
    
            @include responsive(semi-cat) {
                width: 60%;
                margin-top: 60px;
                max-width: none;
                min-width: 500px;
    
            }
    
            @include responsive(pc-cat) {
                margin-top: 95px;
                min-width: none;
                width: 830px;
            }
            
            .btn1_flex {
                display: flex;
                align-items: center;
                cursor: pointer;
    
                @include responsive(semi-cat) {
                    //
                }
    
                @include responsive(pc-cat) {
                }

                &:hover {
                    p {
                        transform: rotateZ(5deg);
                    }
                }
    
                img {
                    width: calc(30px + 2vw);
                    margin-right: 10px;
    
                    @include responsive(semi-cat) {
                        font-size: calc(30px + 1vw);
    
                    }
        
                    @include responsive(pc-cat) {
                        text-align: justify;
                    }
                }
    
                p {
                    font-family: $highlight;
                    color: white;
                    text-align: center;
                    font-size: calc(16px + 1vw);
    
                    @include responsive(semi-cat) {
                        font-size: calc(24px + 1vw);
    
                    }
        
                    @include responsive(pc-cat) {
                        text-align: justify;
                    }


                }
            }
        }
    
    }

}

.second_screen {
    margin-top: $mid_margin_m;

    @include responsive(semi-cat) {
        margin-top: $mid_margin_s;

    }

    @include responsive(pc-cat) {
        margin-top: $mid_margin_p;

    }

    .htp {
        h2 {
            font-size: calc(24px + 1vw);
            text-align: center;

            @include responsive(semi-cat) {
                font-size: calc(24px + 1vw);
            }
        
            @include responsive(pc-cat) {
                font-size: 60px;
            }
        }

        ul {
            margin-top: $small_margin_m;

            @include responsive(semi-cat) {
                margin-top: $small_margin_s;
            }
        
            @include responsive(pc-cat) {
                margin-top: $small_margin_p;
            }

            li {
                font-family: $highlight;
                text-align: justify;
                font-size: calc(14px + 0.5vw);
                line-height: calc(28px + 0.5vw);
                margin-bottom: 8px;

                @include responsive(semi-cat) {
                    font-size: calc(16px + 0.5vw);
                    line-height: calc(32px + 0.5vw);
                    margin-bottom: 10px;
                }
            
                @include responsive(pc-cat) {
                    font-size: 22px;
                    line-height: 40px;
                    margin-bottom: 12px;
                }

                .highlight {
                    color: $strike;
                }


                .ex_photos {
                    margin: $mid_margin_m 0;

                    @include responsive(semi-cat) {
                        margin: $mid_margin_s 0;
                    }
                
                    @include responsive(pc-cat) {
                        margin: $mid_margin_p 0;
                    }

                    .ex_photo_flex {

                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        text-align: center;


                        @include responsive(semi-cat) {
                            flex-direction: row;
                        }
                    
                        @include responsive(pc-cat) {
                            //
                        }

                        &>div {
                            width: 100%;
                            margin-bottom: $small_margin_m;

                            @include responsive(semi-cat) {
                                width: 30%;
                                margin-bottom: 0;

                            }
                        
                            @include responsive(pc-cat) {

                            }

                            img {
                                width: 70%;
                                max-width: 400px;
                                display: block;
                                margin: 0 auto;

                                @include responsive(semi-cat) {
                                    width: 100%;
    
                                }
                            
                                @include responsive(pc-cat) {
                                    width: 380px;
                                }
                            }

                            p {
                                font-family: $common_font;
                                margin-top: $tiny_margin_m;
                                font-size: calc(10px + 1vw);
                                

                                @include responsive(semi-cat) {
                                    margin-top: $tiny_margin_s;
                                    font-size: calc(10px + 0.5vw);
    
                                }
                            
                                @include responsive(pc-cat) {
                                    margin-top: $tiny_margin_p;
                                    font-size: 16px;

                                }

                                .ex_bold {
                                    font-family: $common_med;
                                    font-weight: 600;
                                    color: $strike;
                                    margin-right: 0.5rem;
                                }

                            }
                            
                            
                        }

                    }
                }
            }
        }

        .second_btn {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 85%;
            margin-top: $mid_margin_m;
            margin-bottom: $mid_margin_m;
            max-width: 400px;
    
            @include responsive(semi-cat) {
                width: 60%;
                margin-top: $mid_margin_s;
                margin-bottom: $mid_margin_s;
                max-width: none;
                min-width: 500px;
    
            }
    
            @include responsive(pc-cat) {
                margin-top: $mid_margin_p;
                margin-bottom: $mid_margin_p;
                min-width: none;
                width: 830px;
            }
            
            .btn2_flex {
                display: flex;
                align-items: center;
                cursor: pointer;
    
                @include responsive(semi-cat) {
                    //
                }
    
                @include responsive(pc-cat) {
                    //
                }

                &:hover {
                    p {
                        transform: rotateZ(5deg);
                    }
                }
    
                img {
                    width: calc(30px + 2vw);
                    margin-right: 10px;
    
                    @include responsive(semi-cat) {
                        font-size: calc(30px + 1vw);
    
                    }
        
                    @include responsive(pc-cat) {
                        text-align: justify;
                    }
                }
    
                p {
                    font-family: $highlight;
                    color: white;
                    text-align: center;
                    font-size: calc(16px + 1vw);
    
                    @include responsive(semi-cat) {
                        font-size: calc(24px + 1vw);
    
                    }
        
                    @include responsive(pc-cat) {
                        text-align: justify;
                    }


                }
            }
        }
    }


}




//third_section

.third_screen {
    margin-top: $big_margin_m;

    @include responsive(semi-cat) {
        margin-top: $big_margin_s;

    }

    @include responsive(pc-cat) {
        margin-top: $big_margin_p;

    }

    .part1{
        h2 {
            font-size: calc(24px + 2vw);
            font-family: $highlight;
            color: white;
            text-align: center;

            @include responsive(semi-cat) {
                font-size: calc(28px + 2vw);
            }

            @include responsive(pc-cat) {
                font-size: 40px;
            }
        }

        h6 {
            font-size: calc(12px + 0.5vw);
            font-family: $common_font;
            text-align: center;
            margin-top: $small_margin_m;

            @include responsive(semi-cat) {
                font-size: calc(12px + 0.5vw);
                margin-top: $small_margin_s;
            }

            @include responsive(pc-cat) {
                font-size: 20px;
                margin-top: $small_margin_p;
            }

            span {
                font-size: calc(14px + 0.5vw);
                font-family: $highlight;
                color: $accent;
                margin-bottom: $tiny_margin_m;
                display: block;

                @include responsive(semi-cat) {
                    margin-top: $tiny_margin_s;
                }
    
                @include responsive(pc-cat) {
                    font-size: 20px;
                    margin-top: $tiny_margin_p;
                }
            }

            br {
                @include responsive(semi-cat) {
                    display: none;
                }
    
                @include responsive(pc-cat) {
                    //
                }
            }
        }
    
        .third_flex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            margin: 0 auto;
            // background-color: red;
    
            margin-top: 10px;
    
            @include responsive(semi-cat) {
                width: fit-content;
                margin-top: 20px;
                flex-direction: row;
            }
    
            .kitty {

                @include responsive(semi-cat) {
                    width: auto;
                }
                .kitty_flex {
                    display: flex;
                    flex-direction: row;
                    // flex-wrap: wrap;
                    justify-content: space-between;
    
    
                    .kitties {
                        text-align: center;
            
                        #catnum {
                            background-color: transparent;
                            border: 3px solid #fff;
                            text-align: center;
                            border-radius: 20px;
                            color: white;
                            width: 80%;
                            height: calc(20px + 5vw);
                            font-size: calc(20px + 1vw);
                            line-height: calc(20px + 1vw);
                            border-radius: 10px;
                            font-family: $common_light;
        
        
                            @include responsive(semi-cat) {
                                border: 4px solid #fff;
                                margin-right: 10px;
                                width: calc(24px + 5vw);
                                height: calc(24px + 5vw);
                                font-size: calc(24px + 1vw);
                                line-height: calc(24px + 1vw);
                                border-radius: 15px;
                                margin-right: 20px;
                                
                                
                            }
        
                            @include responsive(pc-cat) {
                                border: 5px solid #fff;
                                width: 100px;
                                height: 100px;
                                margin-right: 30px;
                                border-radius: 20px;
                                font-size: 60px;
                                line-height: 60px;
                            }

                            &.written {
                                background-color: rgba($color: #ffffff, $alpha: 0.75);
                                color: #333;
                            }
        
                        }
                    } 
    
                }
                
    
            }
    
            .btn, .ctn{

                margin-top: $small_margin_m;
                width: 40%;


                @include responsive(semi-cat) {
                    width: auto;
                    margin-top: 0;
                }

                @include responsive(semi-cat) {
                    //
                }

                button {
                    display: block;
                    background-color: transparent;
                    color: #fff;
                    border: 3px solid rgba($color: #ffffff, $alpha: 1);
                    width: 100%;
                    height: calc(16px + 5vw);
                    border-radius: 10px;
                    font-family: $highlight;
                    font-size: calc(18px + 1vw);
    
                    @include responsive(semi-cat) {
                        border: 4px solid rgba($color: #ffffff, $alpha: 1);
                        width: calc(40px + 5vw);
                        height: calc(25px + 5vw);
                        font-size: calc(20px + 1vw);
                        border-radius: 15px;
                
                    }
        
                    @include responsive(pc-cat) {
                        width: 140px;
                        height: 100px;
                        border: 5px solid rgba($color: #ffffff, $alpha: 1);
                        border-radius: 20px;
                        font-size: 36px;
    
        
                    }
    
                    &:hover {
                        background-color: rgba($color: #ffffff, $alpha: 0.75);
                        color: #333;
                        transition: all 0.5s linear;
                    }
                }
    
    
            }
        }
    }

    .part3 {
        margin-top: $big_margin_m;

        @include responsive(semi-cat) {
            margin-top: $big_margin_s;

        }

        @include responsive(pc-cat) {
            margin-top: $big_margin_p;

        }

        .output_box {

            .output_flex {
                display: flex;
                width: 100%;
                text-align: center;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;

                @include responsive(semi-cat) {

                    //
        
                }
        
                @include responsive(pc-cat) {
        
                    //

                }

                div {
                    width: 50%;
                    margin-bottom: $mid_margin_m;

                    @include responsive(semi-cat) {
                        width: 50%;
                        margin-bottom: $mid_margin_s;

                    }
            
                    @include responsive(pc-cat) {
                        width: 25%;
                        margin-bottom: $mid_margin_p;

            
                    }

                    h3 {
                        font-size: calc(24px + 1vw);


                        @include responsive(semi-cat) {
                            font-size: calc(24px + 1vw);
                        }
                
                        @include responsive(pc-cat) {
                            font-size: 40px;
                
                        }
                    }

                    p {
                        font-family: $common_light;
                        font-size: calc(18px + 1vw);
                        margin-top: $tiny_margin_m;
                        letter-spacing: 2px;

                        @include responsive(semi-cat) {
                            font-size: calc(24px + 1vw);
                            margin-top: $tiny_margin_s;
                        }

                        @include responsive(pc-cat) {
                            font-size: 30px;
                            margin-top: $tiny_margin_p;
                        }
                    }

                    ul {
                        // background-color: red;
                        display: flex;
                        width: fit-content;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: $small_margin_m;

                        @include responsive(semi-cat) {
                            font-size: calc(24px + 1vw);
                            margin-top: $small_margin_s;
                        }

                        @include responsive(pc-cat) {
                            font-size: 30px;
                            margin-top: $small_margin_p;
                        }

                        li {

                            border-radius: 50%;
                            background-color: #fff;
                            opacity: 0.5;
                            margin-right: 3px;
                            width: calc(12px + 0.5vw);
                            height: calc(12px + 0.5vw);

                            @include responsive(semi-cat) {
                                margin-right: 4px;
                                width: calc(16px + 0.5vw);
                                height: calc(16px + 0.5vw);
                            }
    
                            @include responsive(pc-cat) {
                                width: 20px;
                                height: 20px;
                            }

                            &.oball {
                                background-color: $ball;
                                opacity: 0.7;
                            }

                            &.ostrike {
                                background-color: $strike;
                                opacity: 0.6;
                            }

                            &.sout {
                                background-color: $out;
                                opacity: 0.6;
                            }



                            &:last-child {
                                margin-right: 0;
                            }

                        }
                    }


                }


            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: $mid_margin_m;
        

        @include responsive(semi-cat) {
            margin-top: $mid_margin_s;


        }

        @include responsive(pc-cat) {
            margin-top: $mid_margin_p;
            flex-direction: row;
            justify-content: space-between;
        }

        .part4 {
            width: 100%;
    
            @include responsive(semi-cat) {


            }
    
            @include responsive(pc-cat) {
                width: 580px;

            } 

            h3 {
                @include h3_fixed;
            }

            .result_box {
                background-color: rgba($color: #000000, $alpha: 0.6);
                height: calc(180px + 5vw);
                margin-top: $small_margin_m;
                padding: 10px 0;



                @include responsive(semi-cat) {
                    margin-top: $small_margin_s;

                }

                @include responsive(pc-cat) {
                    height: 300px;
                    margin-top: $small_margin_p;

                }

                table {
                    width: 100%;
                    text-align: center;
                    padding: 10px 0;

                    tr {
                        margin-top: $small_margin_m;

                        @include responsive(semi-cat) {
                            margin-top: $small_margin_s;
                        }

                        @include responsive(pc-cat) {
                            margin-top: $small_margin_p;
                        }

                        th {

                            width: 15%;
                            color: $accent;
                            font-weight: 600;
                            font-size: calc(12px + 0.5vw);

                            @include responsive(semi-cat) {
                                font-size: calc(14px + 0.5vw);

                            }
            
                            @include responsive(pc-cat) {
                                font-size: 18px;
                            }

                            &.feline {
                                width: 40%;
                            }
                        }

                        td {
                            font-weight: 400;
                            font-size: calc(12px + 0.5vw);

                            @include responsive(semi-cat) {
                                font-size: calc(14px + 0.5vw);
                            }

                            @include responsive(pc-cat) {
                                font-size: 18px;
                            }
                        }

                    }
                }
            }
        }

        .semi_info {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: $grand_margin_m;

            @include responsive(semi-cat) {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: $grand_margin_s;
            }
    
            @include responsive(pc-cat) {
                flex-direction: column;
                width: 480px;
                margin-bottom: $grand_margin_p;
            }

            .part5 {
                width: 100%;
                margin-top: $big_margin_m;

                @include responsive(semi-cat) {
                    width: 40%;
                    margin-top: $big_margin_s;
    
                }
        
                @include responsive(pc-cat) {
                    width: 100%;
                    margin-top: 0;
                }
    
                h3 {
                    @include h3_fixed;
                }

                .store {
                    display: flex;
                    justify-content: space-between;
                    margin-top: $small_margin_m;
    
                    @include responsive(semi-cat) {
                        margin-top: $small_margin_s;
    
                    }
    
                    @include responsive(pc-cat) {
                        margin-top: $small_margin_p;
                    }

                    &>div {
                        text-align: center;
                        width: 32%;

                        h4 {
                            font-size: calc(16px + 0.5vw);

                            @include responsive(semi-cat) {
                                font-size: calc(18px + 0.5vw);

                            }

                            @include responsive(pc-cat) {
                                font-size: 21px;

                            }
                        }

                        div.store_btn {
                            margin: 0 auto;
                            color: white;
                            cursor: pointer;
                            background-color: transparent;
                            border: white 2px solid;
                            width: 80%;
                            padding: 10px 0;
                            border-radius: 100px;
                            font-family: $common_font;
                            font-size: calc(14px + 0.5vw);
                            font-weight: 400;
                            margin-top: $small_margin_m;

                            @include responsive(semi-cat) {
                                font-size: calc(16px + 0.5vw);
                            }

                            @include responsive(semi-cat) {
                                font-size: 18px;
                            }

                            &:hover {
                                color: #333;
                                background-color: rgba($color: #ffffff, $alpha: 0.75);
                                border-color: rgba($color: #ffffff, $alpha: 0.5);
                                transition: all 0.5s;
                            }

                            &.sold {
                                color: #333;
                                background-color: rgba($color: #ffffff, $alpha: 0.75);
                                border-color: rgba($color: #ffffff, $alpha: 0.5);
                                transition: all 0.5s;
                                font-weight: 600;
                                touch-action: none;
                            }
                        }
                    }
                }
            }

            .part6 {
                text-align: center;
                margin-top: $big_margin_m;
                width: 100%;


                @include responsive(semi-cat) {
                    margin-top: $big_margin_s;
                    width: 40%;
                }
        
                @include responsive(pc-cat) {
                    margin-top: $small_margin_p;
                    width: 100%
                }

                h3 {
                    @include h3_fixed;
                }

                .giveup_flex {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: $small_margin_m;
    
                    @include responsive(semi-cat) {
                        margin-top: $small_margin_s;
    
                    }
    
                    @include responsive(pc-cat) {
                        margin-top: $small_margin_p;
                    }

                    @keyframes catswing {
                        from {
                            transform: rotateZ(10deg);

                        }

                        to {
                            transform: rotateZ(-10deg);

                        }
                    }

                    &:hover {
                        p {
                            transform: rotateZ(5deg);
                        }

                        
                        img {
                            animation: catswing 0.5s alternate infinite linear;
                        }
                    }



                    img {
                        width: calc(50px + 2vw);
                        margin-right: 20px;
    
                        @include responsive(semi-cat) {
                            width: calc(60px + 2vw);
                            margin-right: 25px;
                        }
                
                        @include responsive(pc-cat) {
                            width: 70px;
                            margin-top: $small_margin_p;
                            margin-right: 30px;
                        }

                    }

                    p {
                        font-family: $highlight;
                        font-size: calc(14px + 0.5vw);
                        line-height: 2em;

                        @include responsive(semi-cat) {
                            font-size: calc(14px + 0.5vw);
                        }
                
                        @include responsive(pc-cat) {
                            font-size: 18px;
                        }
                    }
                }


            }
        }
    }

    .part7 {
        max-width: 1920px;

        .sc_board {
            position: absolute;
            top: 20px;
            right: 0;
            display: flex;
            align-items: center;

            h5 {
                font-size: calc(16px + 0.5vw);
                margin-right: 10px;

                @include responsive(semi-cat) {
                    font-size: calc(18px + 0.5vw);
                }

                @include responsive(pc-cat) {
                    font-size: 24px;
                }
            }

            .score {
                font-family: $highlight;
                font-size: calc(16px + 0.5vw);

                @include responsive(semi-cat) {
                    font-size: calc(18px + 0.5vw);
                }

                @include responsive(pc-cat) {
                    font-size: 24px;
                }

            }
        }
    }

    


    
}



