
/*====================터닝 포인트====================*/

$break-mobile: '390px';
$break-600: '600px';
$break-semiscreen: '900px'; // 이거는 br을 없애기 위한 용도입니다. 사용 시 조장에 허락을 맡으시길
$break-pc: '1400px';

/*====================폰트====================*/

$common_font: 'IBMPlexSansKR-Regular';
$common_light: 'IBMPlexSansKR-Light';
$common_med: 'IBMPlexSansKR-Medium';
$highlight: 'Yeongdo-Rg';

/*====================마진====================*/

$grand_margin_m: 100px;
$grand_margin_s: 120px;
$grand_margin_p: 140px;

$big_margin_m: 50px;
$big_margin_s: 60px;
$big_margin_p: 70px;

$mid_margin_m: 30px;
$mid_margin_s: 35px;
$mid_margin_p: 40px;

$small_margin_m: 15px;
$small_margin_s: 18px;
$small_margin_p: 20px;

$tiny_margin_m: 7.5px;
$tiny_margin_s: 9px;
$tiny_margin_p: 10px;

/*====================폰트 사이즈====================*/

$h3_m: calc(20px + 1vw);
$h3_s: calc(18px + 1vw);
$h3_p: 30px;

/*====================톤앤 매너====================*/

$accent: #ffe92d;
$ball: #5b9a00;
$strike: #fffc00;
$out: #c90000;
$failed: #e80000;